*{
    padding: 0;
    margin: 0 ;
    box-sizing: border-box;
}

:root {
    --primary: #645cff;
    --primary-dark: #3c3799;
    --grey-light: #f1f5f9;
    --gery: #64748b;
    --grey-dark: #0f172a;
    --max-width: 1170px;
    --fluid-width: 90vw;
    --border--radius: 2rem;

}
.blogs {
    padding: 4rem 0;
}

.blogs-center{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2rem;
    width: var(--fluid-width);
    max-width: var(--max-width);
    margin: 0 auto;

}
.blogs-center2{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
    gap: 2rem;
    width: var(--fluid-width);
    max-width: var(--max-width);
    margin: 0 auto;

}

.blog-content{
    padding-bottom: 1rem;
}

.blog-content span{
    text-transform: uppercase;
    letter-spacing: 2px;
    color: var(--primary);
    margin: 0.5rem 0;
}
.blog-content h3{
    text-transform: capitalize;
    color: var(--primary-dark);
    margin: 0.5rem 0;
}

.blog-content p{
    color: var(--gery);
    margin-bottom: 0.5rem;
}

.blog-content a{
    text-transform: capitalize;
    color: var(--primary-dark);
    letter-spacing: 1px;
}

body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: var(--grey-light);
    color: var(--grey-dark);
}

.img {
    display: block;
    width: 100%;
    height: 20rem;
    object-fit: cover;
}

.blog {
    background-color: white;
    padding: 1em;
    margin-bottom: 2rem;
    border-radius: var(--border--radius);
    box-shadow: 0 5px 15px rgb(0,0,0, 0.2);
    transition: 0.5s ease-in-out all;
}
.section-title{
    text-align: center;
    text-transform: capitalize;
    letter-spacing: 2px;
    margin: 2rem;
}

.blog:hover{
    box-shadow: 0 5px 15px rgb(0,0,0, 0.4);
}